@font-face {
    font-family: "traverse-nepal-hammersmith-one-regular";
    src: url(../fonts/traverse-nepal-hammersmith-one-regular.ttf);
}


*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    background-color: #f6b98a;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #779dd0;
    border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #073064;
}

body{
    overflow: hidden;
    font-family: "traverse-nepal-hammersmith-one-regular";
    color: #073064;
}

.attractions-list-container{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    width: 1184px;
}

.attractions-container{
    display: grid;
    grid-template-columns: minmax(0,1fr);
    row-gap: 16px;
}


.list-title{
    font-family: 'traverse-nepal-hammersmith-one-regular';
    padding: 10px;
    font-size: xx-large;
    font-weight: bold;
    cursor: default;
    color: rgb(7, 48, 100);
}

.attractions-list-body{
    display: grid;
    row-gap: 32px;
    column-gap: 16px;
    grid-template-columns: repeat(3,1fr);
    word-break: break-word;
}

.attraction-content{
    display: block;
    min-width: 168px;
    position: relative;
    height: 450px;
    padding: 5px;
}

.attraction-content a{
    text-decoration: none;
    color: #073064;
}

.attraction-image-container{
    position: relative;
    height: 75%;
    transition: 0.3s;
}

.attraction-image-container:hover{
    position: relative;
    height: 75%;
    transform: scale(1.05);
    margin: 5px;
}

.attraction-image-container img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.bottom-content{
    display: grid;
    gap: 4px;
    padding: 4px;
}

.attraction-name {
    font-size: x-large;
}

.attraction-rating-review{
    display: flex;
}

.attraction-rating{
    margin-right: 10px;
}


.rating-icon-circle{
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;
}

.recommended{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    margin-top: 50px;
}

footer{
    margin-top: 20px;
}